.emptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

.emptyTitle {
    margin:0.2rem;
}

.emptyDescription {
    word-break: break-word;
}